.root {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.dashboardBody {
    display: flex;
    flex-direction: column;
}

.heartbeatStatusIndicator {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.hearbeatStatus_unknown {
    background-color: grey;
}

.hearbeatStatus_good {
    background-color: green;
}

.hearbeatStatus_warn {
    background-color: yellow;
}

.hearbeatStatus_error {
    background-color: red;
}